---
layout: compress
--- 

<!DOCTYPE html>
<html>

  {% include head.html %}
  <!--
  <script src="{{site.baseurl}}/d3/bubblechart/js/libs/modernizr-2.0.6.min.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/d3/bubblechart/css/reset.css">
  <link rel="stylesheet" href="{{site.baseurl}}/d3/bubblechart/css/style.css">
  -->

  <body>

    {% include header.html %}

    <div class="container">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="{{site.baseurl}}/js/googlecharts.js"></script>

  <!--  
  <script src="{{site.baseurl}}/js/bubblechart.js"></script>
  <script defer src="{{site.baseurl}}/d3/bubblechart/js/plugins.js"></script>
  <script defer src="{{site.baseurl}}/d3/bubblechart/js/script.js"></script>
  <script src="{{site.baseurl}}/d3/bubblechart/js/CustomTooltip.js"></script>
  <script src="{{site.baseurl}}/d3/bubblechart/js/libs/d3.js"></script>
 -->
 {% if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>
